/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2016, 5:42:35 PM
    Author     : yafita870
*/

.createGameButton{
    background-color: rgb(205,239,155);
    font-size:24px;
    width: 180px;
    height: 50px;
    color: rgb(94,24,216);
    
}
.witinForPlayerMsg{
    
    color: red;
}
.numberOfPlayersButton2{
    background-color: rgb(41, 219, 213);
    color:#f7bd24;
}

.numberOfPlayersButton3{
    background-color:#2437f7;
    color:#f7bd24;
}

.numberOfPlayersButton4{
    background-color:#9024f7;
    color:#f7bd24        
}

.numberOfAIPlayersButton0{
    background-color: rgb(41, 219, 213);
    color:#f7bd24;
}
.numberOfAIPlayersButton1{
    background-color:#2437f7;
    color:#f7bd24;
}

.numberOfAIPlayersButton2{
    background-color:#9024f7;
    color:#f7bd24;
}

.numberOfAIPlayersButton3{
    background-color:#ff0007;
    color:#f7bd24;
}
