*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/RummikubConsole/nbproject/private/
/RummikubConsole/build/
/RummikubConsole/dist/
/RummikubGUI/nbproject/private/
/RummikubGUI/build/
/RummikubGUI/dist/
/RummikubWebApp/nbproject/private/
/RummikubWebApp/build/
/RummikubWebApp/dist/
/RummikubWebServer/nbproject/private/
/RummikubWebServer/build/
/RummikubWebServer/dist/