
.red{
    -fx-background-color: red;
}
.black{
    -fx-background-color: black;
}
.blue{
    -fx-background-color: blue;
}
.yellow{
    -fx-background-color: yellow;
}
.joker{
    -fx-background-color: lightseagreen;
}

.unkown{
    -fx-background-color: wheat;
}

.card{
    -fx-border-width: 1; 
    -fx-border-style: solid;
    -fx-border-color:  black ;
}

.card-text{
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-font-fill: #ffffff;
}
